/* PRODUCTOS */


#mainProductos {
    margin: 20px;


}

.imgProducto {
    padding: 5px;
    border-radius: 10px;
}

.cajaProducto {
    @extend %sombraContenedor;
}

.btnCotizar {
    @include boton;
    @extend %efectoHover;
}