/* PROYECTOS */

.contenedorProyectos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.proyecto {
    @extend %sombraContenedor;
    display: flex;
    flex-flow: row nowrap;
    margin: 20px;
    border: 4px solid;
    border-radius: 10px;

    @media (max-width: 900px) and (min-width: 400px) {
        & {
            flex-flow: column nowrap;
        }
    }

    .imgProyecto {
        @extend %efectoHover;
        width: 50%;
        border-radius: 5px;

        @media (max-width: 900px) and (min-width: 400px) {
            & {
                width: 100%;
            }
        }
    }


}

.textoProyecto {
    @extend %efectoHover;
    margin: 20px;
    color: $mainColor;

    @media (max-width: 900px) and (min-width: 400px) {
        & {
            text-align: center;
        }
    }

    p {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .btnVerMas {
        @include boton;
    }
}